<h1>Ma page About HTTP</h1>
<div class="row mt-3">
  <!-- <form>
    <input type="text" name="varInputForm" [(ngModel)]="varInputForm" />
  </form>
  <p>{{ varInputForm }}</p> -->

  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-group">
      <label for="firstname" class="form-control">First Name*</label>
      <input
        type="text"
        [(ngModel)]="firstname"
        class="form-control"
        name="firstname"
        id="firstname"
        placeholder="enter firstname"
        required
      />
    </div>
    <div class="form-group">
      <label for="lastname" class="form-control">Last Name*</label>
      <input
        type="text"
        [(ngModel)]="lastname"
        class="form-control"
        name="lastname"
        id="lastname"
        placeholder="enter lastname"
        required
      />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Email address*</label>
      <input
        type="email"
        [(ngModel)]="emailadress"
        class="form-control"
        name="emailadress"
        id="emailadress"
        placeholder="enter email"
        required
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1" class="form-label">Message</label>
      <textarea
        type="text"
        [(ngModel)]="message"
        name="message"
        id="message"
        class="form-control"
        placeholder="enter message"
      >
      </textarea>
    </div>

    <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
